@model ArticleListDto

<!-- site-content -->
<div id="content" class="site-content" role="main">
    <!-- blog-regular -->
    <div class="blog-regular page-layout">

        <!-- .entry-header -->
        <header class="entry-header">
            <h1 class="entry-title">the blog.</h1>
        </header>
        <!-- .entry-header -->



        @foreach (var item in Model.Articles)
        {
            <article class="hentry post has-post-thumbnail">


                <!-- .entry-header -->
                <header class="entry-header">


                    <!-- .entry-title -->
                    <h2 class="entry-title"><a asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h2>

                    <!-- .entry-meta -->
                    <div class="entry-meta">
                        <span class="entry-date">
                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">
                                @item.CreatedDate.ToString("dd/MM/yyyy")<br>
                                @item.User.FirstName @item.User.LastName
                            </time>
                        </span>
                        <span class="comment-link">
                            <p>@item.ViewCount</p>
                        </span>
                        <span class="cat-links">
                            <a href="#" title="View all posts in Travel" rel="category tag">@item.Category.Name</a>
                        </span>

                    </div>
                    <!-- .entry-meta -->

                </header>
                <!-- .entry-header -->
                <!-- .featured-image -->
                <div class="featured-image">

                    <a asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">
                        <img src="~/images/@item.Image.FileName" alt="blog-image">
                    </a>
                </div>
                <!-- .featured-image -->
                <!-- .entry-content -->
                <div class="entry-content excerpt">
                    <p>
                        @Html.Raw(item.Content.Length > 280 ? item.Content.Substring(0, 280) : item.Content)
                    </p>
                    <p><a asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">Read More</a></p>
                </div>
                <!-- .entry-content -->

            </article>
            <div class="col-lg-12">

                <ul class="pagination justify-content-center mb-4 mt-4 btn-block">

                    @if (Model.ShowPrevious)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-currentPage="@(Model.CurrentPage - 1)" asp-route-pageSize="@Model.PageSize"> Önceki </a>
                        </li>
                    }
                    @for (int i = 1; i < Model.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">

                            <a class="page-link" asp-route-currentPage="@i" asp-route-pageSize="@Model.PageSize"> @i </a>
                        </li>
                    }
                    @if (Model.ShowNext)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-currentPage="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.PageSize"> Sonraki </a>
                        </li>
                    }

                </ul>
            </div>
        }


    </div>
</div>








