

@using NET6.Entity.DTOs.Histories
@model HistoryListDto

@foreach (var history in Model.Histories)
{
    @if (history.CategoryId == Guid.Parse("2b579030-0bc0-4cea-9fe2-8eae26852ec3"))
    {
        <div class="event">
            <h3>@history.SFDate</h3>
            <h4>@history.Title</h4>
            <h5>@history.Name</h5>
            <p>
                @Html.Raw(@history.Content)
            </p>
        </div>
    }
}
t