@using NET6.Entity.DTOs.Skills
@model SkillListDto
<!-- section-title -->
<div class="section-title center">
    <h2>
        <i>Design Skills</i>
    </h2>
</div>
<!-- section-title -->
<!-- .skill-unit -->
@foreach (var skill in Model.Skills)
{
    @if (skill.Category.Name == "Design")
    {
        <div class="skill-unit">
            <h4>@skill.Title</h4>
            <div class="bar" data-percent="@skill.Percent">
                <div class="progress" style="width: @skill.Percent%;">
                    <span>@skill.Percent</span>
                </div>
            </div>
        </div>
    }
}
<!-- .skill-unit -->
<!-- section-title -->
<div class="section-title center">
    <h2>
        <i>Coding Skills</i>
    </h2>
</div>
<!-- section-title -->
<!-- .skill-unit -->
@foreach (var skill in Model.Skills)
{
    @if (skill.Category.Name == "Coding")
    {
        <div class="skill-unit">
            <h4>@skill.Title</h4>
            <div class="bar" data-percent="@skill.Percent">
                <div class="progress" style="width: @skill.Percent%;">
                    <span>@skill.Percent</span>
                </div>
            </div>
        </div>
    }
}