
@model ArticleDto

<!-- site-content -->
<div id="content" class="site-content" role="main">
    <!-- .blog-single -->
    <div class="blog-single page-layout">

        <!-- .hentry -->
        <article class="post type-post hentry">

            <!-- .entry-header -->
            <header class="entry-header">
                <h1 class="entry-title">@Model.Title</h1>

                <!-- .entry-meta -->
                <div class="entry-meta">
                    <span class="entry-date">
                        <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">
                            @Model.CreatedDate.ToString("dd/MM/yyyy")<br />
                            @Model.User.FirstName @Model.User.LastName
                        </time>
                    </span>
                    <span class="comment-link">
                        <a href="blog-single.html#comments"> @Model.ViewCount</a>
                    </span>
                    <span class="cat-links">
                        <a href="#" title="View all posts in Travel" rel="category tag">@Model.Category.Name</a>
                    </span>

                </div>
                <!-- .entry-meta -->

            </header>
        </article>
        <!-- .entry-header -->
        <!-- .featured-image -->
        <div class="featured-image">
            <img src="~/images/@Model.Image.FileName" alt="blog-image">
        </div>
        <!-- .featured-image -->
        <!-- .entry-content -->
        <div class="entry-content">
            @Html.Raw(Model.Content)
            <!-- .entry-meta -->
            <footer class="entry-meta tags">
                <a href="#" rel="tag">design</a> <a href="#" rel="tag">responsive</a> <a href="#" rel="tag">think</a>
            </footer>
            <!-- .entry-meta -->

        </div>
        <!-- .entry-content -->

    </div>
    <!-- .hentry -->

</div>
<!-- .blog-single -->
