@model PortfolioDto

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en" class="no-js classic-page-layout " data-audio-tick="~/PlainHtml/audio/tick.mp3" data-click-ripple-animation="yes">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@Model.Seo.Description">
    <meta name="keywords" content="@Model.Seo.Keywords">
    <meta name="author" content="@Model.Seo.Author">
    <meta name="theme-color" content="#1755cf" />

    <title>@Model.Title</title>
    @await Component.InvokeAsync("Css")
</head>
<body>
    <!-- HEADER -->
    <header id="masthead" class="header" role="banner">

        <!-- header-wrap -->
        <div class="header-wrap layout-full">

            <!-- NAV MENU -->
            <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
                <div class="nav-menu menu-with-icons">
                    <ul>

                        <!-- InstanceBeginEditable name="Menu-Content" -->

                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "home" })</li>
                        <li>@Html.ActionLink("Back To Portfolios", "Index", "Portfolio", null, new { @class = "return" })</li>
                        <!-- InstanceEndEditable -->
                    </ul>
                </div>
            </nav>
            <!-- NAV MENU -->
        </div>
        <!-- header-wrap -->
    </header>
    <!-- HEADER -->
    <div id="page" class="hfeed site">

        <!-- .site-main -->
        <main id="main" class="site-main cd-main">

            <div class="site-middle">
                <div class="layout-medium">
                    <div id="primary" class="content-area ">
                        <!-- site-content -->
                        <div id="content" class="site-content" role="main">
                            <!-- .portfolio-single -->
                            <div class="portfolio-single page-layout">
                                <!-- .hentry -->
                                <article class="hentry">

                                    <!-- .entry-header -->
                                    <!-- .entry-header -->
                                    <!-- .entry-content -->
                                    <div class="entry-content">
                                        <!-- .portfolio-desc -->
                                        <div class="portfolio-desc">

                                            <div class="portfolio-meta">
                                                <span><strong>Client</strong> @Model.Category.Name</span>
                                                <span><strong>Date</strong> @Model.CreatedDate.ToString("dd/MM/yyyy")</span>
                                                <span><strong>Creator</strong> @Model.User.FirstName @Model.User.LastName</span>
                                            </div>

                                            <p>
                                                @Html.Raw(Model.Content)
                                            </p>
                                            <p>
                                                <a href="@Model.Link.Url"
                                                   target="_blank" class="button primary">LAUNCH PROJECT</a>
                                            </p>

                                        </div>
                                        <!-- .portfolio-desc -->
                                        <p>
                                            <img src="~/images/@Model.Image.FileName" alt="@Model.Title"><br />
                                        </p>

                                    </div>
                                    <!-- .entry-content -->
                                </article>
                                <!-- .hentry -->
                            </div>
                            <!-- .portfolio-single -->

                        </div>
                        <!-- site-content -->
                    </div>

                </div>
            </div>
            <!-- #secondary -->

        </main>
    </div>


    <!-- ALERT : used for contact form mail delivery alert -->
    <div class="site-alert animated"></div>
    <!-- .site-footer -->
    <footer id="colophon" class="site-footer" role="contentinfo">

    </footer>
    <!-- .site-footer -->
    <a href="#" id="back-to-top" class="show">↑ <span>Scroll to top</span></a>

    @await Component.InvokeAsync("Script")
</body>
</html>
